.resume {
    padding-top: 120px;
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    content: "";
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: "";
            height: 1.5px;
            width: 43px;
            position: absolute;
            top: 38px;
            background: #000;
        }
        &-head {
            position: relative;
            padding: 15px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-icon {
            position: absolute;
            top: 20px;
            left: 42px;
            @include before_circle;
            img {
                position: absolute;
                left: 8px;
                top: 6px;
            }
            img[alt="courses"] {
                left: 6px;
                top: 8px;
            }
            img[alt="developer"] {
                left: 6px;
                top: 7px;
            }
            img[alt="designer"] {
                left: 6px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
        &-body {
            margin-top: 12px;
            padding-left: 43px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
